* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(180, 207, 207);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#project-content a {
    display: block;
    margin-top: 10px;
    max-width: 1162px;
    width: 80%;
    height: 551px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style header */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    align-items: center;
    background-color: rgb(180, 207, 207);;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 0 15px 0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: black;
    padding: 0 10px 0 10px;
}

header h1:hover {
    text-shadow: 2px 2px 3px grey;
}

header a, #contact a {
    text-decoration: none;
    color: black;
}

header nav ul {
    padding: 0 10px 0 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 0 10px 0 10px;
    font-weight: lighter;
    font-size: 24px;
}

header nav ul li a:hover {
    text-shadow: 2px 2px 3px grey;
}

/*Style About Me*/

.about-me {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me h2 {
    font-weight: bolder;
    font-size: 34px;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 95%;
    border-bottom: thick double black;
}


.about-me img {
    width: auto;
    height: 551px; 
    display: block;
    margin: 10px 0 10px 0;
    border: 5px solid black;
    border-radius: 20px;
}

/*Style content*/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-content h2 {
    font-weight: bolder;
    font-size: 34px;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 95%;
    border-bottom: thick double black;

}

.main {
    margin-top: 10px;
    max-width: 1162px;
    width: 100%;
    height: 551px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    border-radius: 20px;
    position: relative;
    background-image: url('../images/horiseon-screen.png');
}

.main-proj-description {
    background-color: rgba(2, 2, 2, 0.75 );
    color: white;
    width: fit-content;
    justify-content: center;
    position: absolute;
    top: 413px;
}

/* Need to us media query set text at each screen size */

.sub {
    padding-top: 10px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

/*.main img {
    max-width: 1162px;
    width: 80%;
    height: 551px; 
    display: block;
    margin: auto;
    border: 5px solid black;
    border-radius: 20px;
} */


/* Style Reach Out */

.contact {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h2 {
    font-weight: bolder;
    font-size: 34px;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 95%;
    border-bottom: thick double black;
}

.contact p {
    font-weight: bolder;
    font-size: 17px;
    text-align: center;
    padding: 10px 0 10px 0;
}

.contact a {
    text-decoration: none;
    color: black;
}

.contact a:hover {
    text-shadow: 2px 2px 3px grey;
}