* {
    margin: 0;
    padding: 0;
}

/*Adjust margins after adding above statement. Do after adding real content and images*/

body {
    background-color: rgb(82, 185, 185);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    align-items: center;
    background-color: bisque;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.row {
    display: flex;
    justify-content: center;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: black;
    padding: 0 10px 0 10px;
}

header a, #contact a {
    text-decoration: none;
    color: black;
}

header nav ul {
    padding: 0 10px 0 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 0 10px 0 10px;
    font-weight: lighter;
    font-size: 24px;
}

#contact, #about-me {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#projects {
    display: column;
    justify-content: space-between;
    width: 100%;
}

.project-content {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.project-image {
    flex: 1 50%;
}

.project-description {
    flex: 2 50%;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.project-description p {
    display: flex;
    flex-wrap: wrap;
}

.project-content img {
    max-width: 30vw;
    height: auto;
}

.body {             /*Remove this and consolidate with #content, shouldn't be on it's own. */
    top: 0;
    left: 0;
    margin-top: 0px;
    padding-top: 90px;
}

#contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

#contact ul li a {
    padding: 0 15px 0 15px;
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
}

/*Screen size optimization here*/
/* Make projects stack at these sizes, no more verticle layout */
@media screen and (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        background-color: bisque;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    header nav ul li a {
        font-weight: normal;
        font-size: medium;
    }

    header nav ul {
        padding: 0;
    }
    
    .body {
        top: 0;
        left: 0;
        margin-top: 0px;
        padding-top: 150px;
    }
}

@media screen and (max-width: 425px) {
    header {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        background-color: bisque;
        position: absolute;
        width: 100%;
        top:  0;
        left: 0;
    }
    
    header nav ul li a {
        font-weight: normal;
        font-size: medium;
    }

    header nav ul {
        padding: 0;
    }
    .body {
        top: 0;
        left: 0;
        margin-top: 0px;
        padding-top: 150px;
    }
}