* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(180, 207, 207);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    align-items: center;
    background-color: rgb(180, 207, 207);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 0 15px 0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: black;
    padding: 0 10px 0 10px;
}

header h1:hover {
    text-shadow: 2px 2px 3px red;
}

header a, #contact a {
    text-decoration: none;
    color: black;
}

header nav ul {
    padding: 0 10px 0 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 0 10px 0 10px;
    font-weight: lighter;
    font-size: 24px;
}

header nav ul li a:hover {
    text-shadow: 2px 2px 3px red;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-content h2 {
    font-weight: bolder;
    font-size: 34px;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 95%;
    border-bottom: thick double black;

}

.main {
    padding-top: 10px;
    width: 80%;
}

.main img {
    width: 80%;
    height: auto; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}